<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_-1</string>
		<key>icon</key>
		<string>icon_category_-1</string>
		<key>name</key>
		<string>全部分类</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_-1</string>
		<key>small_icon</key>
		<string>icon_filter_category_-1</string>
	</dict>
	<dict>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_1</string>
		<key>icon</key>
		<string>icon_category_1</string>
		<key>name</key>
		<string>美食</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_1</string>
		<key>small_icon</key>
		<string>icon_filter_category_1</string>
		<key>map_icon</key>
		<string>ic_category_1</string>
		<key>subcategories</key>
		<array>
			<string>全部</string>
			<string>聚餐宴请</string>
			<string>小吃快餐</string>
			<string>汤/粥/炖菜</string>
			<string>火锅</string>
			<string>简餐快餐</string>
			<string>西餐</string>
			<string>江浙菜</string>
			<string>面包甜点</string>
			<string>日本料理</string>
			<string>自助餐</string>
			<string>午市套餐</string>
			<string>蛋糕</string>
			<string>粤菜</string>
			<string>川菜</string>
			<string>杭州南京上海苏州江浙菜</string>
			<string>烧烤/烤肉</string>
			<string>韩国料理</string>
			<string>本帮菜</string>
			<string>东南亚菜</string>
			<string>海鲜</string>
			<string>特色菜</string>
			<string>茶餐厅</string>
			<string>咖啡茶馆</string>
			<string>下午茶</string>
			<string>泰国菜</string>
			<string>日式料理</string>
			<string>小龙虾</string>
			<string>8-10人套餐</string>
			<string>烤鱼</string>
			<string>冰淇淋</string>
			<string>台湾菜</string>
			<string>西北/新疆菜</string>
			<string>云贵菜</string>
			<string>香锅</string>
			<string>湘菜</string>
			<string>蟹宴</string>
			<string>东北菜</string>
			<string>京菜/鲁菜</string>
			<string>湖北菜</string>
			<string>食品饮料</string>
			<string>清真菜</string>
			<string>闽菜</string>
			<string>水果生鲜</string>
			<string>江西菜</string>
			<string>山西菜</string>
			<string>其他美食</string>
		</array>
	</dict>
	<dict>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_20</string>
		<key>icon</key>
		<string>icon_category_20</string>
		<key>name</key>
		<string>酒店</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_20</string>
		<key>small_icon</key>
		<string>icon_filter_category_20</string>
		<key>map_icon</key>
		<string>ic_category_20</string>
		<key>subcategories</key>
		<array>
			<string>全部</string>
			<string>豪华酒店</string>
			<string>经济型酒店</string>
			<string>度假酒店</string>
			<string>客栈/青旅/民宿</string>
			<string>公寓式酒店</string>
		</array>
	</dict>
	<dict>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_99</string>
		<key>icon</key>
		<string>icon_category_99</string>
		<key>name</key>
		<string>院线影院</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_99</string>
		<key>small_icon</key>
		<string>icon_filter_category_99</string>
		<key>map_icon</key>
		<string>ic_category_99</string>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_2</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_2</string>
		<key>icon</key>
		<string>icon_category_2</string>
		<key>name</key>
		<string>休闲娱乐</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_2</string>
		<key>small_icon</key>
		<string>icon_filter_category_2</string>
		<key>subcategories</key>
		<array>
			<string>全部</string>
			<string>KTV</string>
			<string>足疗按摩</string>
			<string>洗浴/汗蒸</string>
			<string>景点郊游</string>
			<string>农家乐/采摘</string>
			<string>公园/游乐园</string>
			<string>密室逃脱</string>
			<string>桌游/电玩/网吧</string>
			<string>酒吧</string>
			<string>真人CS/卡丁车</string>
			<string>私人影院</string>
			<string>DIY手工</string>
			<string>演出/赛事/展览</string>
			<string>游泳</string>
			<string>轰趴馆</string>
			<string>滑雪</string>
			<string>电影</string>
			<string>亲子游完</string>
			<string>运动健身</string>
			<string>更多</string>
		</array>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_3</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_3</string>
		<key>icon</key>
		<string>icon_category_3</string>
		<key>name</key>
		<string>生活服务</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_3</string>
		<key>small_icon</key>
		<string>icon_filter_category_3</string>
		<key>subcategories</key>
		<array>
			<string>全部</string>
			<string>培训课程</string>
			<string>鲜花婚庆</string>
			<string>体检保健</string>
			<string>汽车服务</string>
			<string>商场购物券</string>
			<string>个性写真</string>
			<string>配眼镜</string>
			<string>婚纱摄影</string>
			<string>照片冲印</string>
			<string>宠物服务</string>
			<string>家政服务</string>
			<string>服装洗护</string>
			<string>装修设计</string>
			<string>厨房卫浴</string>
			<string>家装</string>
			<string>建材</string>
			<string>家具家居</string>
			<string>家装卖场</string>
		</array>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_3</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_3</string>
		<key>icon</key>
		<string>icon_category_3</string>
		<key>name</key>
		<string>结婚</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_3</string>
		<key>small_icon</key>
		<string>icon_filter_category_3</string>
		<key>subcategories</key>
		<array>
			<string>全部</string>
			<string>旅游婚纱照</string>
			<string>婚纱摄影</string>
			<string>成衣定制</string>
			<string>婚庆公司</string>
			<string>彩妆造型</string>
			<string>婚礼小礼品</string>
			<string>个性写真</string>
			<string>司仪主持</string>
			<string>婚车租赁</string>
			<string>婚宴</string>
			<string>更多婚礼服务</string>
		</array>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_3</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_3</string>
		<key>icon</key>
		<string>icon_category_3</string>
		<key>name</key>
		<string>亲子</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_3</string>
		<key>small_icon</key>
		<string>icon_filter_category_3</string>
		<key>subcategories</key>
		<array>
			<string>全部</string>
			<string>亲子游乐</string>
			<string>亲子摄影</string>
			<string>幼儿教育</string>
			<string>孕妇写真</string>
			<string>孕产护理</string>
			<string>主题公园/游乐场</string>
			<string>DIY手工</string>
			<string>采摘/农家乐</string>
			<string>更多亲子服务</string>
		</array>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_22</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_22</string>
		<key>icon</key>
		<string>icon_category_22</string>
		<key>name</key>
		<string>丽人</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_22</string>
		<key>small_icon</key>
		<string>icon_filter_category_22</string>
		<key>subcategories</key>
		<array>
			<string>全部</string>
			<string>瘦身纤体</string>
			<string>个性写真</string>
			<string>美容／SPA</string>
			<string>美甲美睫</string>
			<string>美发</string>
			<string>瑜珈／舞蹈</string>
			<string>齿科</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_78</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_78</string>
		<key>icon</key>
		<string>icon_category_78</string>
		<key>name</key>
		<string>旅游</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_78</string>
		<key>small_icon</key>
		<string>icon_filter_category_78</string>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_4</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_4</string>
		<key>icon</key>
		<string>icon_category_4</string>
		<key>name</key>
		<string>购物</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_4</string>
		<key>small_icon</key>
		<string>icon_filter_category_4</string>
		<key>subcategories</key>
		<array>
			<string>全部</string>
			<string>食品饮料</string>
			<string>钟表眼镜</string>
			<string>商场购物券</string>
			<string>水果生鲜</string>
			<string>生活家居</string>
			<string>品牌购物券</string>
			<string>化妆护肤</string>
			<string>数码家电</string>
			<string>服饰鞋包</string>
			<string>珠宝饰品</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_2</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_6</string>
		<key>icon</key>
		<string>icon_category_6</string>
		<key>name</key>
		<string>运动健身</string>
		<key>small_highlighted_icon</key>
		<string>icon_category_highlighted_6</string>
		<key>small_icon</key>
		<string>icon_category_6</string>
		<key>subcategories</key>
		<array>
			<string>全部</string>
			<string>健身</string>
			<string>游泳</string>
			<string>桌球</string>
			<string>射箭</string>
			<string>羽毛球</string>
			<string>其他场馆</string>
			<string>武术场</string>
			<string>溜冰</string>
			<string>高尔夫</string>
			<string>攀岩</string>
			<string>篮球</string>
			<string>乒乓球</string>
			<string>空手道</string>
			<string>跆拳道</string>
		</array>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_default</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_0</string>
		<key>icon</key>
		<string>icon_category_0</string>
		<key>name</key>
		<string>教育</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_0</string>
		<key>small_icon</key>
		<string>icon_filter_category_0</string>
		<key>subcategories</key>
		<array>
			<string>全部</string>
			<string>外语</string>
			<string>音乐</string>
			<string>教育院校</string>
			<string>美术</string>
			<string>职业技术</string>
			<string>兴趣生活</string>
			<string>驾校</string>
			<string>留学</string>
		</array>
	</dict>
</array>
</plist>
